body {
    background-color: rgb(10, 20, 30);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: white;
    overflow-x: hidden;
}

#root {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: calc(100vw - 40px);
    max-width: 600px;
}

.section {
    min-height: 200px;
}

.section-title {
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    opacity: 0.9;
}

.gauge-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.gauge {
    width: 150px;
    height: 150px;
}

.gauge-body {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
}

.gauge-fill {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-135deg);
    background: conic-gradient(#70CAD1 0%, #F7EE7F 37.5%, #A63D40 75%, transparent 0%);
    filter: brightness(1.25);
    z-index: 2;
}

.gauge-cover {
    width: 75%;
    height: 75%;
    background: rgb(10, 20, 30);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


.gauge-cover-2 {
    width: 105%;
    height: 105%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-135deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: conic-gradient(transparent 0deg, transparent var(--a), rgb(10, 20, 30) calc(var(--a) + 0.2%));
    z-index: 2;
    transition: --a 1s ease-out;
}


.gauge-cover-outer {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container::before {
    content: '';
    position: fixed;
    backdrop-filter: blur(32px) brightness(3) saturate(1);
    opacity: 0.25;
    z-index: 3;
    inset: 0px;
    height: 100%;
    pointer-events: none;
}

@media screen and (max-width: 540px) {

    /* Your CSS rules here */
    .container::before {
        backdrop-filter: blur(24px) brightness(3) saturate(1);
    }
}

@media screen and (max-height: 420px) {

    /* Your CSS rules here */
    .container::before {
        backdrop-filter: blur(24px) brightness(3) saturate(1);
    }
}


.gauge-value {
    color: white;
    font-size: 2em;
    font-weight: 600;
    margin-top: 100px;
    white-space: nowrap;
    z-index: 2;
}

.gauge-label {
    margin-top: -5px;
    color: white;
    font-size: 0.8em;
    opacity: 0.5;
    white-space: nowrap;
    z-index: 2;
}

.chart {
    width: 100%;
    height: 100px;
    background: #2a2a2a;
    border-radius: 8px;
    margin-bottom: 15px;
}

.fan-speed {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: #2a2a2a;
    padding: 10px;
    border-radius: 5px;
}

.feather {
    width: 36px;
    height: 36px;
}

.feather-wrapper {
    z-index: 2;
    position: absolute;
    top: 52px;
    filter: contrast(2) brightness(1.5);
}

dotlottie-player {
    transition: all 0.3s ease-in-out;
}

@property --a {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}
